body {
    background-color: whitesmoke;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}  
.crumb {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #3434349e;
  }
h1 {
    text-align: center;
}
div {
    display: flex;
    text-align: center;
    margin-left:25%;
    margin-right:25%;
}
form {
    display: flex;
    flex-direction: column;
}
.textCuts {
    width: 200px;
}
.button {
    width: 200px;
}