body {
    background-color: whitesmoke;
}
p {
    text-align: center;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}  
.crumb {
    float: left;
  }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #3434349e;
  }
h1 {
    text-align: center;
}
div {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left:25%;
    margin-right:25%;
}
.animation {
    background-color: whitesmoke;
    justify-content: center;
} 
.animation:hover {
    animation-name: backChange;
    animation-duration: 4s;
} 
@keyframes backChange {
    0%   {background-color: whitesmoke;}
    25%  {background-color: burlywood;}
    50%  {background-color: gold;}
    100% {background-color: goldenrod;}
  }
form {
    display: flex;
    flex-direction: column;
}
.textCuts {
    width: 200px;
}
.button {
    width: 200px;
}